.App {
  background-color: orange;
  height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  padding: 16px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0 24px;
  border-radius: 6px;
  background-color: white;
}

.article {
  border: 1px solid black;
  margin: 24px;
  padding: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
